{% load static %}
<!-- {% load bootstrap4 %} -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/main.css' %}">

    <!---responsividade--->
    <link rel="stylesheet" href="{% static '/style/responsive.css' %}">

<!---owl css--->
<link rel="stylesheet" href="{% static '/style/assets/owl/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static '/style/assets/owl/owl.theme.default.min.css' %}">

    <title>LYNEFLIX</title>
</head>
<body>  
    {% include 'content/partials/_header.html' %}
    {% block content %}{% endblock %}
</body>
</html>